1. Speak german
2. Use 'uv' as package manager, also 'uv pip' and so on
3. Use 'click' for command line interface
4. Use 'flask' for web interface
5. Use 'loguru' for logging
6. Use 'pyproject.toml' for project configuration
7. Use 'docker-compose.yml' for docker configuration
8. Use 'solr' for solr configuration
9. Use 'solr/conf/schema.xml' for solr schema configuration
10. Use Python 3.12
